# Database Configuration
DATABASE_URL=postgresql://postgres.ozgkgkenzpngnptdqbqf:PwbcCdD%3FYq4Jn.v@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://ozgkgkenzpngnptdqbqf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96Z2tna2VuenBuZ25wdGRxYnFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg0NDE5MDEsImV4cCI6MjA2NDAxNzkwMX0.JfeSTSEbA7oKS0C5Fz3iQVASuQ842r0_y2XXnElLGAg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96Z2tna2VuenBuZ25wdGRxYnFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODQ0MTkwMSwiZXhwIjoyMDY0MDE3OTAxfQ.udykt21AJ4ihUn_EQrSX17rgzPYB30s68bSoiZP6wxg

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True

DB_NAME=postgres
DB_USER=postgres.ozgkgkenzpngnptdqbqf
DB_PASSWORD=PwbcCdD?Yq4Jn.v
DB_HOST=aws-0-ap-south-1.pooler.supabase.com
DB_PORT=5432


# CORS Configuration
ALLOWED_ORIGINS=https://akzonobel.lvbs-astra.com/

# Performance Configuration
MAX_CONCURRENT_REQUESTS=10
REQUEST_TIMEOUT=300

